---
import SVG from "@parts/svg.astro";
import Layout from "@layouts/default.astro";
import { Picture } from "@astrojs/image/components";

const stores = await Astro.glob("../../context/stores/*.json");

const data = {
	meta: {
		title: "Contact Us - Innovative Eye Care",
	},
};
---

<style lang="scss">
	h1 {
		margin: 4em 0 1em;
		text-align: center;
	}

	ul {
		padding: 0 20px;
		margin: 0;
		list-style: none;
	}

	.store {
		text-align: left;
		margin-bottom: 40px;
		padding: 20px;

		address {
			font-style: normal;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		a {
			color: inherit;
		}

		.image {
			width: 100%;
			max-width: 400px;
		}
	}

	.book {
		font-size: 1em;
		margin-top: 20px;
	}

	.popup {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: var.$white;
		z-index: 100;
		width: 100vw;
		max-width: 1000px;
		padding: 40px 20px;
		height: 100vh;
		max-height: 800px;

		&:before {
			content: "";
			background: var.$neutral;
			position: absolute;
			height: 100vh;
			width: 100vw;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -2;
			opacity: 0.8;
		}

		&:after {
			content: "";
			background: inherit;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
		}

		.close {
			position: absolute;
			top: 20px;
			right: 20px;
			background: none;
			color: var.$secondary;
			border: none;

			svg {
				height: 20px;
				width: auto;
			}

			&:hover {
				color: var.$primary;
			}
		}

		iframe {
			width: 100%;
			height: calc(90vh - 100px);
			max-height: 700px;
		}

		&[data-active="true"] {
			display: block;
		}

		h3 {
			visibility: visible;
			margin-top: 0;
		}

		.content {
			text-align: left;
			overflow: auto;
			max-height: 100%;

			img {
				width: 150px;
				float: left;
				margin: 0 10px 10px 0;
				display: block;
				filter: none;
			}
		}
	}

	.hours {
		dt {
			font-weight: 600;
		}

		dd {
			margin-left: 2ch;
		}
	}

	.address,
	.hours,
	.phone {
		position: relative;
		display: block;
		width: 100%;
		padding-left: 2.5ch;
		margin-bottom: 0.5em;
		text-decoration: none;

		&:is(a) {
			&:hover {
				text-decoration: underline;
			}
		}

		.icon {
			height: 1em;
			display: block;
			width: auto;
			color: var.$primary;
			position: absolute;
			top: 0.15em;
			left: 0;
			opacity: 0.8;
		}
	}

	@media (min-width: 40em) {
		h1 {
			margin: 5em 0 0;
		}

		ul {
			margin-top: 50px;
		}

		.store {
			position: relative;
			padding-left: 50vw;
			min-height: 45vw;

			.image {
				width: 45vw;
				height: auto;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
			}
		}
	}

	@media (min-width: 50em) {
		ul {
			padding: 0 40px;
		}

		.popup {
			padding: 40px;
		}
	}

	@media (min-width: 60em) {
		h1 {
			font-size: 2.5em;
			margin: 4em 0 0;
		}

		ul {
			max-width: 900px;
			margin: 50px auto;
		}

		.store {
			padding-left: 450px;
			min-height: 400px;

			.image {
				width: 400px;
				height: auto;
			}
		}
	}

	@media (min-width: 80em) {
	}
</style>

<Layout content={data}>
	<h1>Contact</h1>
	<ul>
		{
			stores.map((store) => (
				<li id={`${`contact_${store.id}`}`} class="store">
					<Picture
						src={store.image}
						alt={store.name}
						widths={[200, 400, 500]}
						aspectRatio={1}
						formats={["avif", "webp", "png"]}
						class="image"
					/>
					<h3>{store.name}</h3>
					<address class="address">
						<a href={store.location} target="_blank">
							<SVG name="icons/map.svg" class="icon" />
							{store.address.address}
							<br />
							{store.address.city} {store.address.state}{" "}
							{store.address.postcode}
						</a>
					</address>
					<a
						href={`tel:${store.phone.replace(/(\(|\)|\s)/g, "")}`}
						target="_blank"
						class="phone"
					>
						<SVG name="icons/phone.svg" class="icon" />
						{store.phone}
					</a>
					<dl class="hours">
						<SVG name="icons/clock.svg" class="icon" />
						{store.hours.map((day) => (
							<>
								<dt>{day.days}</dt>
								<dd>{day.hours}</dd>
							</>
						))}
					</dl>
					<button
						class="book"
						onclick={`togglePopup(${`contact_${store.id}`})`}
					>
						Book Now
					</button>
					<div class="popup" data-active={0}>
						<button
							class="close"
							onclick={`togglePopup(${`contact_${store.id}`})`}
						>
							<>
								<span class="sr-only">Close Popup</span>
								<SVG name="icons/close.svg" />
							</>
						</button>
						<div class="content">
							<h3>Book Now</h3>
							<iframe
								src={`https://www.MyHealth1st.com.au/AppointmentWidget?practice_id=${store.id}`}
							/>
						</div>
					</div>
				</li>
			))
		}
	</ul>
</Layout>

<script is:inline>
	const togglePopup = (id) => {
		const popup = id.querySelector(".popup");
		const active = popup.dataset.active === "true";

		popup.dataset.active = !active;
	};
</script>
